:root {
    --dark-1: #313131;
    --dark-1-crystalline: rgba(49, 49, 49, 0.5);

    --dark-2: #414141;
    --dark-3: #525252;

    --red: rgba(255, 84, 70, 1);
    --white: rgba(238, 238, 238, 1);
    --white-hover: rgba(205, 205, 205, 1);
    --blue: rgba(0, 173, 181, 1);
    --yellow: rgba(193, 194, 60, 1);
    --green: rgba(47, 171, 99, 1);

    --apple-color-green: rgb(40, 205, 65);
    --apple-color-blue: rgb(0, 122, 255);
    --apple-color-purple: rgb(175, 82, 222);
    --apple-color-red: rgb(255, 59, 48);
    --apple-color-orange: rgb(255, 149, 0);

    --purple: #845EC2;
    --blue-2: #2C73D2;
}

body {
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    color: var(--white);
    background-color: var(--white);
    margin: 0;
}

.all-boards-wrapper {
    height: 100%;
    width: 100%;

    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box, .box-skeleton {
    position: relative;
    margin: 6px 10px;
    padding: 8px;
    height: fit-content;

    background-color: var(--white);
    color: var(--dark-1);

    text-align: start;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.box:hover {
    background-color: var(--white-hover);
}

.box:focus {
    margin: 0px 4px;
    animation: color-focus 2.5s infinite linear;
}

@keyframes color-focus {
    0% {
        border: solid 6px var(--red);
    }
    50% {
        border: solid 6px var(--blue);
    }
    100% {
        border: solid 6px var(--red);
    }
}

.box-skeleton {
    -webkit-box-shadow: inset 0 0 0 3px var(--white);
    -moz-box-shadow: inset 0 0 0 3px var(--white);
    box-shadow: inset 0 0 0 2px var(--white);

    background-color: transparent;
    color: transparent;
}

.scrum-boards-wrapper {
    height: 100%;
    /*width: 100%;*/

    /*position: fixed;*/

    display: flex;
    flex-direction: row;
    justify-content: center;

    flex: 1;
}

.navigation-image-container {
    width: fit-content;
}

.control-legend-container {
    width: fit-content;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
}

.navigation-image-container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.navigate-left-legend-container,
.navigate-right-legend-container,
.navigate-up-legend-container,
.navigate-down-legend-container,
.grab-legend-container {
    flex: 1;
    width: fit-content;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.legend-text {
    margin: 0;
    white-space: nowrap;
}

.legend-color-1,
.legend-color-2,
.legend-color-3,
.legend-color-4,
.legend-color-5 {
    height: 25px;
    width: 25px;

    margin-right: 6px;

    border-radius: 6px;
}

.legend-color-1 {
    background-color: var(--apple-color-blue);
}

.legend-color-2 {
    background-color: var(--apple-color-red);
}

.legend-color-3 {
    background-color: var(--apple-color-green);
}

.legend-color-4 {
    background-color: var(--apple-color-purple);
}

.legend-color-5 {
    background-color: var(--apple-color-orange);
}

.navigation-image {
    height: 150px;
    width: 550px;
    margin: 0;
}

.board-title {
    margin: 0;
    padding: 4px 0;

    font-size: 48px;
}

.board-title, .legend-text, .navigation-image {
    /*Not able to select any of the text*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.board {
    background-color: var(--dark-1);

    padding-top: 4px;
    padding-bottom: 4px;

    height: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

#todo-board, #doing-board, #verify-board, #done-board, .explanation-board {
    background-color: var(--dark-1);

    flex: 1;
    text-align: center;
    margin: 8px;

    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.explanation-board {
    max-height: 150px;
    margin-top: 0;
    padding: 6px;

    flex-direction: row;

    overflow: hidden;
}

#todo-board {
    background-color: var(--red);
    margin-right: 0;
}

#doing-board {
    background-color: var(--blue);
    margin-right: 0;
}

#verify-board {
    background-color: var(--yellow);
    margin-right: 0;
}

#done-board {
    background-color: var(--green);
}

.hovered {
    /*background-color: var(--dark-1-crystalline);*/
    background-color: rgba(49, 49, 49, 0.5);
}

.lifted {
    /*border: solid 2px var(--dark-1);*/
    /*border-radius: 2px; !important;*/
    /*animation: color-focus 2.5s infinite linear;*/
    margin: 4px 4px !important;
    border: solid 2px var(--blue);
    animation: none !important;

    box-shadow: -7px 7px 5px 0px var(--red);

    left: 12px;
    bottom: 5px;
}

.doing-border {
    border: dashed 0 3px 3px 3px var(--blue);
}

.verify-border {
    border: dashed 3px var(--yellow);
}

.done-border {
    border: dashed 3px var(--green);
}

.items-container {
    display: flex;
    flex-direction: column;
}