:root {
    --dark-1: #313131;
    --dark-2: #414141;
    --dark-3: #525252;

    --red-1: #F0606F;
    --red-2: #ca3e47;
    --red-3: #FF1607;
    --white: #eeeeee;
    --blue: #00adb5;
    --yellow: #F9F871;
    --green: #9DDD80;
}

body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    color: var(--white);
    background-color: var(--dark-2);
    margin: 0;
}

.box {
    height: 100px;
    width: 100px;
    background-color: black;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.held {
    border: solid 10px black;
    background-color: black;
}

.hovered {
    border: dotted 5px black;
}

.invisible {
    display: none;
}

.container {
    margin: auto;
    top: 100px;
    width: 400px;
    position: relative;
}

.board-container {
    height: 100%;
    width: 100%;

    background-color: var(--dark-2);

    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.board-title {
    margin: 0;
    padding: 16px 0;
    background-color: var(--dark-1);
}

.board-wrapper {
    flex: 1;
    text-align: center;
    margin: 8px;

    display: flex;
    flex-direction: column;

}

.board {
    height: 100%;
    text-align: center;
    border: dashed 3px var(--red-3);
}

.items-container {
    display: flex;
    flex-direction: column;
}